@import "reset.css";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

$purple-color: rgb(96,62,255);
$blue-color: rgb(0,124,164);
$light-blue-color: rgb(64,170,204);
$gray-color: rgb(107,99,99);
$light-gray-color: rgb(157,152,152);
$dark-white-color: rgb(245,245,245);

